<mat-card class="news-card">
  <mat-card-header>
      <mat-card-title class="news-title">{{news?.title}}</mat-card-title>
      <mat-card-subtitle *ngIf="!useFavouriteNewsApi">{{news?.source.name}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="useFavouriteNewsApi">{{news?.sourceWebsiteName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="news-image" [src]="news?.urlToImage" [alt]=""/>
  <mat-card-content class="news-overview">
      {{news?.description}}
  </mat-card-content>
  <mat-card-actions class="news-actions">
      <a color="primary" href={{news?.url}}>Read more...</a>
      <button *ngIf="!useFavouriteNewsApi" mat-raised-button color="primary" id="add-button" (click)="addToFavouriteList()">Add to favourites</button>
      <button *ngIf="useFavouriteNewsApi" mat-raised-button color="warn" id="delete-button" (click)="deleteFromFavouriteList()">Delete</button>
  </mat-card-actions>
</mat-card>
